<!DOCTYPE html>
<html xml:lang="ja" lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>顧客データベース | Rentracks Customer Database</title>
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

<link href="./css/normalize.min.css" rel="stylesheet" media="all">
<link href="./css/common.css" rel="stylesheet" media="all">

<!--[favicon]-->

<link rel="apple-touch-icon" sizes="512x512" href="./favicon/512.png">
<link rel="apple-touch-icon" sizes="152x152" href="./favicon/152.png">
<link rel="apple-touch-icon" sizes="120x120" href="./favicon/120.png">
<link rel="apple-touch-icon" sizes="72x72" href="./favicon/72.png">
<link rel="apple-touch-icon" sizes="32x32" href="./favicon/32.png">
<link rel="icon" href="./favicon.ico">

</head>
<body id="pagetop">

<header>
	<div class="header-main">
		<h1><a href="./"><div><em><img src="./img/header_logo.svg" width="100" height="11"></em><span>customer database</span></div></a></h1>
		<ul>
			<li class="current"><a href="./TM_search.html">テレマ検索</a></li>
			<!--<li class="current"><a href="./TM_search.html">テレマ検索</a></li>-->
		</ul>
		<div class="header-user">
			<div class="header-user-name"><p>金子英司金子英司金子英司金子英司金子英司金子英司</p></div>
			<div class="header-user-menu">
				<a href="./login.html">Log out</a>
				<a href="./">その他のユーザーメニュー</a>
				<div class="header-user-menu-close">CLOSE</div>
			</div>
		</div>
		<div class="header-sp-menu-trigger"><div class="header-sp-trigger"><span></span></div></div>
	</div>
	<div class="title-bar">
		<h2>広告主様ダッシュボード</h2>
		<ul>
			<li class="current"><a href="TM_search.html"><span>顧客ID</span>0000</a></li>
			<li><a class="button-color--blue" href="TM_search.html"><span>媒体ID</span>0000</a></li>
			<li><a class="button-color--blue" href="TM_search.html"><span>代理店ID</span>0000</a></li>
			<li><a class="button-color--green" href="TM_search.html">検索</a></li>
			<!--<li class="current"><a href="TM_search.html">検索</a></li>-->
		</ul>
		<div class="title-sp-menu-trigger"><div class="title-sp-trigger"><span></span></div></div>
	</div>
</header>

<div id="wrapper" class="tm tm-messageAll">
	<main>

		<div class="action-attention-wrap">
			<div class="action-attention action-attention--error">エラー</div>
			<div class="action-attention action-attention--note">注意</div>
			<div class="action-attention action-attention--success">正常に登録完了しました</div>
		</div>

		<dl class="search-number">
			<dt>該当件数</dt>
			<dd><p>1234</p><span>件</span></dd>
		</dl>

		<div class="submit-set submit-set--center">
			<a href="#modal-01" data-modal class="button-color--green">新規コンタクト入力</a>
		</div>

		<ul class="pagination">
			<li class="prv-all"><a href=""></a></li>
			<li class="prv"><a href=""></a></li>
			<li class="current"><a href="">1</a></li>
			<li class="current"><span>1</span></li>
			<li><a href="">2</a></li>
			<li><span>...</span></li>
			<li class="nxt"><a href=""></a></li>
			<li class="nxt-all"><a href=""></a></li>
		</ul>

		<div class="message-all-wrap">

			<div class="register-message-output">
				<h2>田中[2018-11-16 15:47:14]</h2>
				<p>あああああああああああああああああああああああああああああ</p>
			</div>

			<div class="register-message-output">
				<h2>田中[2018-11-16 15:47:14]</h2>
				<p>あああああああああああああああああああああああああああああ</p>
			</div>

			<div class="register-message-output">
				<h2>田中[2018-11-16 15:47:14]</h2>
				<p>あああああああああああああああああああああああああああああ</p>
			</div>

		</div>

		<ul class="pagination">
			<li class="prv-all"><a href=""></a></li>
			<li class="prv"><a href=""></a></li>
			<li class="current"><a href="">1</a></li>
			<li class="current"><span>1</span></li>
			<li><a href="">2</a></li>
			<li><span>...</span></li>
			<li class="nxt"><a href=""></a></li>
			<li class="nxt-all"><a href=""></a></li>
		</ul>

		<div class="submit-set submit-set--center">
			<a href="#modal-01" data-modal class="button-color--green">新規コンタクト入力</a>
		</div>

	</main>
	<footer>
		<address><a href="./">&copy; Rentracks Co., Ltd. All rights reserved.</a></address>
	</footer>
</div><!--[/wrapper]-->

<!--<div id="modal-01" class="modal modal-panel">-->
<div id="modal-01" class="modal register-message-wrap">
	<h2>新規コンタクト登録</h2>
	<form action="">
		<div class="register-message formset">
			<textarea rows="4"></textarea>
			<div class="register-message-tagset">
				<dl>
					<dt>コンタクト日</dt>
					<dd><input type="date"></dd>
				</dl>
				<dl>
					<dt>担当者</dt>
					<dd>
						<select>
							<option>広告主</option>
							<option>2</option>
						</select>
					</dd>
				</dl>
			</div>
			<div class="submit-set submit-set--center">
				<input type="submit" value="コンタクト追加登録" class="button-color--blue">
			</div>
		</div>
	</form>
</div>

<!--[jQuery]-->
<script src="./lib/jquery-3.3.1.min.js"></script>
<script src="./lib/select2.min.js"></script>
<link href="./lib/select2.min.css" rel="stylesheet" media="all">
<script src="./lib/jquery.modal.min.js"></script>
<link href="./lib/jquery.modal.css" rel="stylesheet" media="all">
<script src="./lib/site.js"></script>
<script>
$(function() {
	$('.js_select2').select2();
	$('a[data-modal]').click(function(event) {
		$(this).modal();
		return false;
	});
});
</script>

</body>
</html>